 body {
    margin: 0;
    font-family:Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right,red,yellow);
 }
 nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
 }
 .hero {
   background: linear-gradient(to right,red, yellow);
    padding: 60px 20px;
    text-align: center;
    color: black;
 }
 .btn {
    display: inline-block;
    padding: 12px 25px;
    background: #c49b63;
    color: white;
    text-decoration: none;
    margin-top: 15px;
 }
 footer {
    background: #222;
    color: grey;
    text-align: center;
    padding: 15px;
    margin-top: auto;
 }
 .whatsapp-btn {
   position: fixed;
   bottom: 20px;
   right: 20px;
   background: #25D366;
   color: white;
   padding: 12px 18px;
   border-radius: 50px;
   text-decoration: none;
   font-weight: bold;
 }
 .whatsapp-btn:hover {
   background: #1ebe5d;
 }
 .gallery-section {
   padding: 20px;
 }
 .gallery-section h2 {
   margin-bottom: 10px;
 }
 .gallery {
   display: grid;
   grid-template-columns: repeat(auto-fix, minmax(200px, 1fr));
   gap: 15px;
   padding: 20px;
 }
 .gallery img {
   width: 100%;
   height: 300px;
   object-fit: cover;
   border-radius: 8px;
 }
 .rooms {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 20px;
   padding: 20px;
 }
 .room-card {
   border: 1px solid #ddd;
   border-radius: 8px;
   overflow: hidden;
   text-align: center;
   background: whitesmoke;
 }
 .room-card img {
   width: 100%;
   height: 200px;
   object-fit: cover;
 }
 .room-card h2 {
   margin: 10px 0;
 } 
 .room-card p {
   padding: 0 10px 15px;
 }
 .hamburger {
   display: none;
   font-size: 28px;
   cursor: pointer;
 } 
 .header {
   background:black;
   color: greenyellow;
   padding: 15px;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .logo {
   margin: 0;
 }
 .nav a {
   color: white;
   margin-left: 15px;
   text-decoration: none;
 }
 @media (max-width: 600px) {
   .nav {
      display: none;
      flex-direction: column;
      background: #222;
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      text-align: center;
   }
   .nav a {
      padding: 15px;
      border-radius: 1px solid #333;
   }
   .hamburger {
      display: block;
   }
   .nav.show{
      display: flex;
   }
 }
 .rooms .btn {
   background: #25D366;
   bottom: 20px;
   right: 20px;
   color: white;
   padding: 12px 18px;
   border-radius: 50px;
   text-decoration: none;
   font-weight: bold;
 }
 .rooms .btn:hover {
   background: #1ebe5d;
 }
 .map-container {
   margin: 20px 0;
   border-radius: 8px;
   overflow: hidden;
 }
 .map {
   padding: 40px 20px;
   background: #fff;
 }
 .map h2 {
   text-align: center;
   margin-bottom: 20px;
 }